@media (max-width: 1200px)
    .container
        max-width: 960px
    .navbar
        &-menu
            padding-left: 0
            margin-left: 15px
            margin-right: 40px
            &__item
                &:not(:last-child)
                    margin-right: 12px
    .popular
        &-block
            padding: 20px 0
            flex-wrap: wrap
            &__item
                padding: 0 10px
            &__info
                margin-right: 0
    .articles
        &-work
            padding: 0
            height: 340px
            &__wrapper
                border-radius: 10px 10px 0 0
                padding: 10px 0 0 15px
            &__comment
                padding: 10px 0 0 15px
            &__name
                font-size: 12px
            &__com
                font-size: 12px
        &-project
            height: 340px
            &__wrapper
                left: 15px
            &__popular
                margin-bottom: 70px
        &-check
            height: 140px
            &__block
                padding-top: 10px
                padding-left: 15px
            &__title
                font-size: 14px
                line-height: 20px
            &__download
                padding-top: 9px
                padding-bottom: 11px
        &-tag
            height: 340px
            &__title
                padding: 13px 15px
            &__block
                padding: 10px 0px 10px 15px
            &__button
                padding: 4px 10px
        &-repeat
            height: 140px
            padding: 10px 10px 10px 15px
            &__text
                font-size: 12px
                line-height: 15px
            &__title
                font-size: 14px
        &-tools
            height: 310px
            &__image
                height: 80%
            &__title
                padding: 5px 13px 10px 15px
        &-social
            height: 140px
            padding: 15px 25px 23px 25px
            &__block
                padding: 0
    .news, .lifehack, .footer
        display: none
@media (max-width: 992px)
    body
        padding-top: 70px
    button
        cursor: default
    a.button
        &:hover
            cursor: default
            background-color: $btn-color
    .container
        max-width: 700px
    .navbar
        padding-bottom: 0
        &__search
            display: none
        &-recede
            display: none
        &__mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
                background-color: $bg-section
        &-bottom
            position: fixed
            bottom: 0
            left: 0
            right: 0
            top: 70px
            padding-top: 15px
            overflow-y: scroll
            background-color: $bg-section
            color: $white-text
        &-menu
            display: none
            &__item
                &--mobile
                    margin-bottom: 10px
            &__link
                &::after
                    display: none
            &__button
                display: flex
            &__mobile
                &--visible
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
        &-search
            &__mobile
                &--visible
                    display: flex
                    margin-bottom: 15px
    .menu
        &-button
            width: 16px
            height: 13px
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: inherit
            outline: 0
            &__line
                width: 16px
                height: 1px
                background-color: $white-text
    .hero
        padding-top: 460px
        background-color: $bg-section
        padding-bottom: 20px
    .popular
        &-block
            max-width: 700px
            &__item
                flex-basis: 50%
                padding: 8px 15px
                &:nth-child(1)
                    border-bottom: 1px solid $tabs-text-color
                &:nth-child(2)
                    border-bottom: 1px solid $tabs-text-color
                    border-right: none
            &__link
                width: 100%
                display: flex
                justify-content: space-between
    .articles
        &-block
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(8, min-content)
        &-work
            grid-column: 1
            grid-row: span 2
            &__wrapper
                background: $white-text
            &__icon
                display: none
            &__number
                display: none
            &__name
                font-size: 11px
                margin-left: 6px
            &__com
                font-size: 9px
        &-project
            grid-column: 2
            grid-row: span 2
            &__popular
                margin-bottom: 125px
        &-check
            grid-column: 1
            grid-row: 3
            &__title
                font-size: 16px
        &-tag
            grid-column: 2
            grid-row: 3 / 5
            &__title
                padding: 20px 20px
            &__block
                padding: 23px 25px 10px 20px
            &__button
                padding: 5px 20px
        &-tools
            grid-column: 1
            grid-row: 4 / 6
            height: 340px
        &-repeat
            display: flex
            flex-direction: column
            justify-content: space-between
            &__title
                font-size: 18px
            &__text
                font-size: 14px
                line-height: 19px
        &-social
            &__block
                padding: 0px 25px
    .investigation
        &__title
            font-size: 34px
            line-height: 33px
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 93%
    .hero
        &-block
            height: 460px
        &-slider
            display: none
        &-tabs
            width: 100%
            border-radius: 10px
            &__item
                &--orange
                    padding-bottom: 19px
    .articles
        &-work
            &__name
                display: none
            &__com
                margin-left: 7px
                font-size: 10px
        &-project
            &__popular
                margin-bottom: 100px
        &-tag
            &__title
                padding: 15px 20px
            &__block
                padding: 10px 5px 10px 20px
@media (max-width: 615px)
    .articles
        &-tag
            &__button
                padding: 5px 10px
        &-repeat
            &__title
                font-size: 14px
    .investigation
        &__title
            font-size: 28px
            line-height: 28px
@media (max-width: 576px)
    .hero
        &-block
            height: 500px
    .popular
        &-block
            width: 100%
            &__item
                flex-basis: 100%
                padding: 8px 15px
                &:not(:last-child)
                    border-bottom: 1px solid $tabs-text-color
                    border-right: none
    .articles
        &-block
            grid-template-columns: 1fr
            grid-template-rows: repeat(14, min-content)
        &-work
            grid-column: 1
            grid-row: span 2
            padding: 15px 15px 0 15px
            &__comment
                padding-top: 5px
                padding-left: 10px
        &-project
            grid-column: 1
            grid-row: 3 / 5
        &-tag
            grid-column: 1
            grid-row: 5 / 7
            height: 100%
        &-tools
            grid-column: 1
            grid-row: 7 / 9
        &-check
            grid-column: 1
            grid-row: 9
        &-repeat
            grid-column: 1
        &-social
            grid-column: 1
    .investigation
        &__title
            font-size: 22px
            line-height: 24px
@media (max-width: 480px)
    .hero
        &-block
            height: 550px
@media (max-width: 350px)
    .container
