$body-bg-color: #E5E5E5
$bg-section: #262D33
$white-text: #ffffff
$gray-form: #656B70
$input-text: #939699
$btn-color: #4592FF
$tabs-text-color: #4B5157
$tabs-border-color: #D9DADB
$bluegreen: #3BBDC4
$green-btn: #3DC47E
$greyblue: #6E99AE
$purple: #AC8EE3
$orange: #FFA34D
$active-tab: #F5F5F5
$popular-bg-color: #30363D
$article-subtitle-color: #6E99AE
$light-purple: #E7D9FF
$check-border-color: #96E2E3
$check-format-file-color: #C1F4F5
$facebook-bg: #4267B2
$twitter-bg: #1DA1F2
$youtube-bg: #FF0000
